@use 'mixins'

.container
    background-color: #FFF
    display: flex
    justify-content: flex-start
    align-items: flex-start
    flex-flow: column
    border-radius: .3rem
    margin-left: 1rem
    width: 95%
    height: 80%
    padding: 1%
    color: #02555e

    @media( max-width: 375px)
        background-color: #FFF
        display: flex
        justify-content: flex-start
        align-items: flex-start
        flex-flow: column
        border-radius: .3rem
        margin-left: 1rem
        width: 75%
        height: 100%
        padding: 1%
        color: #02555e
    p
        font-size: 50%
        color: #02555e
        padding: 0%
        margin-left: 5%

        @media( max-width: 375px)
            font-size: 0%

    .p
        font-size: 60%
        color: #02555e
        padding-top: .8%
        margin-left: 0%

        @media( max-width: 375px)
            font-size: 40%
            color: #02555e
            padding-top: .8%
            margin-left: -5%
            font-weight: bold

    input
        padding: 2%
        width: 50%
        @media( max-width: 375px)
            font-size: 60%
            width: 70%
            margin-left: 1%

.body
    display: flex
    justify-content: center
    align-items: center
    flex-flow: column
    width: 50%
    padding: 1%
    margin: 2% 0

    @media( max-width: 375px)
        display: flex
        justify-content: center
        align-items: center
        flex-flow: column
        width: 50%
        padding: 3%
        margin: 3% auto

label
    @media( max-width: 375px)
        font-size: 90%

.title
    display: flex
    justify-content: center
    width: 100%
    border-radius: .3rem
    color: #DCDCDC
    background-color: #02555e
    animation: flipTitle 3s

@keyframes flipTitle
    from
        transform: rotateX(90deg)

    to
        transform: rotateX(0deg)

button
    font-size: 80%
    width: 150%
    padding: 10%
    margin-top: 7%
    margin-left: -29%
    background-color: #02555e
    color: #DCDCDC
    border-radius: .3rem
    border: none

    @media( max-width: 420px)
        font-size: 70%
        width: 125%
        padding: 10%
        margin: 5%
        margin-left: -17%

.imc
    display: flex
    align-items: center
    background-color: #02555e
    color: #dcdcdc
    width: 35%
    padding: 2%
    border-radius: .3rem
    margin-top: 3%
    margin-left: -1%

    @media( max-width: 420px)
        width: 120%
        padding: 2%
        border-radius: .3rem
        margin-top: 3%
        margin-left: -3%

    h4
        margin: .3rem
