.table
    display: flex
    justify-content: flex-start
    align-items: center
    flex-flow: column
    background-color: #818181
    width: 40rem
    height: 30rem
    margin: .3rem
    padding: .4rem
    border-radius: .3rem

    h3
        font-size: 2rem

    spam
        font-size: 1rem
